*{
    font-family: Arial, Helvetica, sans-serif;
}

/* add expense button */

#addExpense{
    all: unset;
    display: flex;
    justify-content: flex-start;
    margin: 1rem auto;
    padding: 0.2rem 0.5rem;
    background-color: rgb(6, 6, 189);
    color: white;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;

}
#addExpense:hover{

    background-color: rgb(4, 4, 228);
    transform: scale(1.1);
}


/* form */

#closeBtn{
    all:unset;
    margin: -2%;
    margin-left: 95%;
    transition: transform 0.2s ease;
}

#closeBtn:hover{
    color:red;
    transform: scale(1.2);
}

form{
    display: none;
    flex-direction: column;
    margin: 0 auto;
    width: 310px;
    gap:5px;
    padding: 1.5rem;
    border: 0.02rem solid rgb(211, 206, 206);
    border-radius: 0.5rem;
}

form button{
    all: unset;
    background-color: rgb(2, 105, 2);
    color: white;
    display: flex;
    justify-content: center;
    margin: 0.250rem auto;
    margin-top: 0.5rem;
    padding: 0.10rem 0.5rem;
    border-radius: 0.50rem;
}

form button:hover{
    background-color: green;
    transition: transform 0.2s ease;
    transform: scale(1.1);
}

label{
    display: flex;
    color: rgb(170, 167, 167);
    font-size: 0.875rem;
}
label:hover{
    color: black;
}


/* Expense details*/


#dataDisplay{
    width:650px;
    margin:auto auto;
    display: block;
}
h2 {
    color: rgb(0, 44, 204);
    margin-top: 1rem auto;
    text-align: center;
}
#dataItems{
    display:flex;
    justify-content: space-around;
    margin:0 0;
    padding:0 1rem;
}

#dataItems:hover{
    background-color: #0d4dc4;
    color: white;

}

#dataItems p{
    width:40%;
}

#dataItems button{
    margin: auto 0.1rem;
    justify-content: flex-end;
}